<ion-content >
  <ion-grid>
    <ion-row >
      <ion-col >
        <div class="cont-imagen">
          <img src="../../assets/imgs/fondo_abstracto.png"/>
        </div>
      </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="display: flex; justify-content: center; align-items: center;">
          <img src="../../assets/imgs/LogoSupernova-1.png" alt="ihaveadream" style="width: 80%; " />
        </div>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col>
          <a href="mailto:rodrigovargassanhueza@gmail.com"><div class="banner"></div></a>
        </ion-col>
      </ion-row>
      <ion-row style="padding: 0 0 10px 0; margin-top: 10px;">

            <ion-col><a href="fb://page/101923444820780" class="enlaces"><i class="icon-facebook red"></i></a></ion-col>
            <ion-col><a href="https://twitter.com/radiosupernova2" class="enlaces"><i class="icon-twitter red"></i></a></ion-col>
            <ion-col><a href="https://www.instagram.com/radio_supernovafm" class="enlaces"><i class="icon-instagram red"></i></a></ion-col>
            <ion-col><a href="https://wa.me/+56988088887" class="enlaces"><i class="icon-whatsapp red"></i></a></ion-col>
            <ion-col><a href="https://soundcloud.com/radio-supernova-148002910" class="enlaces"><i class="icon-soundcloud red"></i></a></ion-col>
            <ion-col><a href="https://www.radiosupernova.cl" class="enlaces"><i class="icon-chrome red"></i></a></ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="z-index: 1;">
          <ion-button expand="block" shape="round" fill="outline" href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019/advice-for-public">Notas coronavirus</ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="position: absolute; bottom: 0; z-index: 1;">
          <ion-col>
              <a id="play" class="enlaces2">
                <i class="icon-play2 control"></i>
              </a>
          </ion-col>
            <ion-col>
              <a id="pause" class="enlaces2">
                <i class="icon-pause control"></i>
              </a>
            </ion-col>
            <ion-col>
              <a id="loader" class="enlaces2">
                <i class="spinner icon-spinner9 control"></i>
              </a>
          </ion-col>
      </ion-row>
      <ion-row style="position: absolute; bottom: 0;" >
        <ion-col >
          <div class="cont-imagen">
            <img src="../../assets/imgs/fondo_abstracto.png"/>
          </div>
        </ion-col>  
      </ion-row>
    </ion-grid>
</ion-content>